<%= @game.title_string %>

<p><%= @game.health_string(1) %></p>
<p><%= @game.health_string(2) %></p>

<p><br><br><%= @game.whose_turn_string %><br><br></p>

<form>
<input type = "submit", value = "Attack Player 1!" name = "attack">
<input type = "submit", value = "Attack Player 2!" name = "attack">
</form>

<% if @attack %>
<%= @game.attack_string %>
<% end %>
